In [1]:
## Vacation Days  = 1/10/12 - 1/15/12

In [2]:
# import dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, MetaData, Table, func, inspect, extract

import pandas as pd
import matplotlib
from matplotlib import style
style.use('seaborn')
import matplotlib.pyplot as plt

Base = automap_base()

In [3]:
# create engine
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect the tables
Base.prepare(engine, reflect=True)

In [4]:
# verify classes are alive
Base.classes.keys()                                                          # inspects database

['measurements', 'stations']

In [5]:
# mapped classes are now created with names by default
# matching that of the table name.
Measurement = Base.classes.measurements
Station = Base.classes.stations

In [6]:
inspector = inspect(engine)
inspector.get_table_names()

['measurements', 'stations']

In [43]:
# view columns of measurements
columns = inspector.get_columns('measurements')
for c in columns:
    print(c)

{'name': 'id', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': 'auto', 'primary_key': 1}
{'name': 'station', 'type': VARCHAR(length=255), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'date', 'type': VARCHAR(length=255), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'prcp', 'type': FLOAT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'tobs', 'type': INTEGER(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}

In [44]:
# view first 10 rows of Measurement
engine.execute('SELECT * FROM measurements LIMIT 10').fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65),
 (2, 'USC00519397', '2010-01-02', 0.0, 63),
 (3, 'USC00519397', '2010-01-03', 0.0, 74),
 (4, 'USC00519397', '2010-01-04', 0.0, 76),
 (5, 'USC00519397', '2010-01-06', 0.0, 73),
 (6, 'USC00519397', '2010-01-07', 0.06, 70),
 (7, 'USC00519397', '2010-01-08', 0.0, 64),
 (8, 'USC00519397', '2010-01-09', 0.0, 68),
 (9, 'USC00519397', '2010-01-10', 0.0, 73),
 (10, 'USC00519397', '2010-01-11', 0.01, 64)]

In [45]:
# Start a session to query the database
session = Session(engine)

In [46]:
### Precipitation Analysis

In [49]:
# retrieve last 12 months of precipitation data
precipitation_data = session.query(Measurement.date, Measurement.prcp).filter(Measurement.date>="2011-01-09").filter(Measurement.date<="2012-01-09").all()

In [50]:
# load query into df
precipitation_data_df = pd.DataFrame(precipitation_data)
precipitation_data_df.head()

         date  prcp
0  2011-01-09  0.00
1  2011-01-10  0.00
2  2011-01-11  0.09
3  2011-01-13  0.00
4  2011-01-14  0.03

In [52]:
precip_df.plot(figsize=(15, 7),                                              # plots the data
               sort_columns=True, 
               rot=45, 
               use_index=False, 
               title='Precipitation in Hawaii from 8-24-2016 to 8-23-2017', 
               legend=True,
               fontsize=16,
               grid=True,
               color='xkcd:azure'
              )

plt.xlabel('date', fontsize=20)
plt.show()

NameError: name 'precip_df' is not defined