In [31]:
# Dependencies and boilerplate
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import Column, Float, Integer, String
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

In [32]:
# load CSVs
hawaii_measurements = "/Users/jmarinelli/Desktop/Homeworks/Adv-Data-Storage-Retrieval-challenge/Instructions/Resources/clean_hawaii_measurements.csv"
hawaii_stations = "/Users/jmarinelli/Desktop/Homeworks/Adv-Data-Storage-Retrieval-challenge/Instructions/Resources/hawaii_stations.csv"

In [33]:
# Read cleaned measurement csv
clean_hawaii_measurements_pd = pd.read_csv(clean_hawaii_measurements)
clean_hawaii_measurements_pd.head()

   Unnamed: 0      station        date  prcp  tobs
0           0  USC00519397  2010-01-01  0.08    65
1           1  USC00519397  2010-01-02  0.00    63
2           2  USC00519397  2010-01-03  0.00    74
3           3  USC00519397  2010-01-04  0.00    76
4           4  USC00519397  2010-01-06  0.00    73

In [34]:
# Read cleaned stations csv
clean_hawaii_stations_pd = pd.read_csv(clean_hawaii_stations)
clean_hawaii_stations_pd.head()

,Unnamed: 0,station,name,latitude,longitude,elevation
0,0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [35]:
# Create Engine and Pass in MySQL Connection
engine = create_engine("sqlite:///hawaii.sqlite")

In [36]:
# create measurement class
class Measurement(Base):
    __tablename__ = 'measurements'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(Float)
    tobs = Column(Integer)

In [37]:
# create stations class
class Station(Base):
    __tablename__ = 'stations'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [38]:
Base.metadata.create_all(engine)